<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Edu.School - {{title}}</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/css/mdb.min.css" rel="stylesheet">

	{% load static %}
	<link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
	
	<header class="container-fluid py-5 position-fixed">
		<div class="row">
			<div class="container">
				<nav class="navbar navbar-expand-lg navbar-dark z-depth-0">
				  	<a class="navbar-brand" href="{% url 'index' %}">Navbar</a>
				  	
				  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
				    	<span class="navbar-toggler-icon"></span>
				  	</button>
				  	
				  	<div class="collapse navbar-collapse" id="basicExampleNav">
				    	<ul class="navbar-nav ml-auto">
				      		<li class="nav-item">
				        		<a class="nav-link" href="#">Home</a>
				      		</li>
				      		<li class="nav-item">
				        		<a class="nav-link" href="#">Features</a>
				      		</li>
				      		<li class="nav-item">
				        		<a class="nav-link" href="{% url 'review' %}">Reviews</a>
				      		</li>
				    	</ul>
				  	</div>
				</nav>
			</div>
		</div>
	</header>

	{% block content %}{% endblock %}

	<footer></footer>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/js/mdb.min.js"></script>
	{% block scripts %}{% endblock %}
</body>
</html>